* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 62.5%;
  background-color: #f7f7f7;
}

body {
  font-size: 1.6rem;
}



@media screen and (max-width: 500px) {
  .posts {
    justify-content: center;
  }
}

.container {
  width: 100%;
  padding: 0 3rem;
  max-width: 1280px;
}